*{
    padding: 10px;
    margin:0px;
}


#container{
   
    width: 80%;
    margin: 0px auto;
    height: 90vh;
}
#topDiv{
    border: 1px solid black;
    text-align: center;
}

/* middlediv */

#middleDiv{
    border: 1px solid black;
    margin-top: 5px;
}

#middleDiv li{
list-style: none;
display: inline-block;
}

/* bottomdiv */


#bottomDiv{
    height: fit-content;
    
    margin-top: 5px;
}

 #allimages{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 
#bottomDiv img{
    border: 1px solid orange;
    width: 100px; 
   
}
#bottomDiv h3{
text-align: center;
}




